body {
    background-color: antiquewhite;
}

.main {
    width: 60vw;
    height: 100%;
    background-color: #fff;
    margin: auto;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0.41);
    padding: 48px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 6px;
}

.name {
    flex-grow: 2;
}

.contact {
    flex-grow: 1;
    padding: 10px;
}

.icon-contact {
    font-size: 18px;
    color: rgba(48, 48, 48, 0.67);
}

.to-me {
    width: auto;
    padding: 5px;
    display: flex;
    margin: 6px 0px;
}

.about {
    margin: 5px 15px 5px 20px;
    flex-grow: 10;
}

.exp {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.work {
    /* background-color: royalblue; */
    width: 100%;
    padding: 24px;
}

.sect-exp {
    margin: 1rem 2px;
}

.title-exp {
    padding-left: 5px;
}

/*########### skills ###########*/

.skills {
    width: 350px;
    padding: 24px;
}

/** Resposive  */

@media (max-width: 1024px) {
    .main {
        width: 95vw;
        box-shadow: none;
        padding: 1rem;
    }
    hr {
        margin: 50px;
    }
    .img-profile {
        margin: auto;
        margin-top: 9px;
    }
    .to-me {
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    .exp {
        flex-wrap: wrap;
    }
    .skills {
        width: auto;
    }
}

@media(max-width: 500px) {
    .subtitle-exp {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}